* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  overflow: auto;
  margin: 0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00999b;
  height: 50px;
  border-top-left-radius: .4em;
  border-top-right-radius: .4em;
}
.navbar h1, .navbar span{
  color: #fff;
  font-weight: bold;
  margin-left: .3em;
  font-size: 1.1em;
}
.main-container{
  display: flex;
  margin-inline: .5em;
  margin-block: 1.5em;
  gap: .8em;
}
span{
  margin:.25em
}
.date{
  margin-block: .3em;
  font-weight: bold;
  color: rgb(79, 78, 78);
}
.bodyImage{
  border-radius: .48em;
  width: 150px;
  max-width: 250px;
}
.info-link a{
color: rgb(99, 97, 97);  
}
.info-container{
  padding: .8em;
}
.info-container h1{
  font-size: 1.7em;
}
.info-container p{
  color: #333;
  margin-top: .6em;
  line-height: 1.7em;
  font-size: .9em;
}
.location{
  margin-right: .5em;
  font-size: .9em;
  text-transform: uppercase;
}
@media(max-width:40em){
.main-container{
  gap: 0;
  align-items: center;
  position: relative;
  /* border: 2px solid red; */
  margin: 0;
  padding: .5em;
}

.bodyImage{
  margin-right: .8em;
  position: relative;
}
.info-container{
  padding: 0;
  
}
.info-container h1{
  font-size: 1.1em;
  color: #00999b;
}
.info-container p{
  color: #333;
  margin-top: .2em;
  line-height: 1.2em;
  font-size: .8em;
}
}
@media (min-width: 55em) {
  body{
    overflow: auto;
  }
  .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .bodyImage{
    height: 100%;
    position: relative;
  }
  .info-container h1{
    font-size: 1.9em;
    color: #00999b;
  }

.info-container p{
  font-size: 1.1em;
  color: #333;
  margin-top: .5em;
  line-height: 1.4em;
}
}